---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';

import Navbar1 from '../components/Navbar1.astro';
import Hero from '../components/Hero.astro';
import Carrusel from '../components/Carrusel.jsx';
import QuienesSomos from '../components/QuienesSomos.astro';
import EquipoClinico from '../components/EquipoClinico.astro';


---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Landing Page</title>
    <link rel="stylesheet" href="../styles/global.css">
  </head>
  <body>
   <Navbar />
    <Navbar1 />
    <Hero/>

    <Carrusel client:load/>
      <QuienesSomos/>
      <EquipoClinico/>
  
    
   <!--  <CardComunidad
    title="Comunidad Volver a Creer"
    image='/images/red-heart.png'
    subtitle="Nuestra modalidad deEmptyEntries es residencial (internación), en la cual se implementa la metodigans de tratamiento cognitivo-conductual"
   />
   <CardComunidad
    title="Equipo"
    image='/images/team.png'
    subtitle="Contamos con un equipo Clínico Profesional, altamente comprometidos y calificados para la atención en todo el proceso terapéutico. Equipo compuesto por: Terapeutas, Psicólogo especializado en adicciones , Personal Trainer. Contamos con convenios en Atención Psiquiátrica."
	
  > --> 
    <main>
      <!-- Aquí irán otros componentes como HeroSection, Features, etc. -->
    </main>
  </body>
</html>
