---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Navbar1 from '../components/Navbar1.astro';
import Hero from '../components/Hero.astro';
import Carrusel from '../components/Carrusel.jsx';
import QuienesSomos from '../components/QuienesSomos.astro';
import EquipoClinico from '../components/EquipoClinico.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Comunidad Volver a Creer"> 
  
    <main>
       <Hero/>
       <Carrusel client:load/>
    </main>
    
    <section>
        <QuienesSomos/>
        <EquipoClinico/>
    </section>

</Layout>

<!-- Coloca los scripts aquí, antes de cerrar la etiqueta </body> -->
<script type="module" src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script type="module" src="/src/scripts/form-contact.js"></script>