---
export interface Props {
  title: string;
  subtitle: string;
  image: string;
}

const { title, subtitle, image } = Astro.props;
---




<section class="comunidad-card-container">
  <div class="comunidad-card">
      <h1 class="title">{title}</h1>
        <img src={image} alt="heart" class="heart-logo">
    
      <h2 class="subtitle">{subtitle}</h2>
  </div>
  </section>


  <style>


.comunidad-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
 
}
  .comunidad-card {
    /*background: #5dadE2;*/
    width: 550px;
    height: auto;
    color: #B2E0C4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #0ed6b8c1;
    border-radius: 50px;
    
   
  }
  
  .title {
    display: flex;
    justify-content: center;
    margin: 0; /* Asegúrate de tener márgenes consistentes */
    /*color: darkseagreen;*/
    color: #B2E0C4;
   /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);*/
   margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  .subtitle {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: justify;
    padding:  2px;
    font-size: 1.1rem;
    margin: 0 20px;
    color: #4A4A4A;
    font-family: 'Montserrat';
  }
  
  .heart-logo {
    width: 100px;
    height:auto;
    margin-bottom: 1.6rem;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
   font-family: 'Montserrat';
   src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
  }

  </style>
  