<!-- components/Carrusel.astro -->
<div class="carrusel">
    <div class="carrusel-inner">
      <img src="/public/images/1.jpg" alt="Imagen 1">
      <img src="/public/images/2.jpg" alt="Imagen 2">
      <img src="/public/images/3.jpg" alt="Imagen 3">
    </div>
  </div>
  
  <style>
    /* CSS */
    .carrusel {
      position: relative;
      width: 100%;
      height: 300px; /* ajusta el alto según tus necesidades */
    }
  
    .carrusel-inner {
      position: relative;
      width: 100%;
      height: 100%;
    }
  
    .carrusel-inner img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.5s;
    }
  
    .carrusel-inner img.active {
      opacity: 1;
    }
  
    .carrusel-inner img:not(.active) {
      opacity: 0;
    }
  </style>
  
  <script>
    // JavaScript
    const carrusel = document.querySelector('.carrusel');
    const imagenes = document.querySelectorAll('.carrusel-inner img');
  
    let indice = 0;
  
    function cambiarImagen() {
      imagenes[indice].classList.remove('active');
      indice = (indice + 1) % imagenes.length;
      imagenes[indice].classList.add('active');
    }
  
    setInterval(cambiarImagen, 3000); // ajusta el tiempo según tus necesidades
  </script>