---
// Frontmatter: Aquí puedes importar otros componentes y definir variables.
---

<header class="header">
    <h1 class="title">Comunidad Volver a Creer</h1>
      <img src="public/images/heart.png" alt="heart" class="heart-logo">  
  
    <h2 class="subtitle">Volver a Creer es un Centro de Rehabilitación , Estamos ubicados en Talagante, Región Metropolitana. Nuestra modalidad de atención es residencial (internación), en la cual se implementa la metodología de tratamiento cognitivo-conductual</h2>
   
  </header>
  
  <style>
  /* Estilos específicos para el componente Header */
  .header {
    /*background: #5dadE2;*/
    width: 600px;
    height: auto;
    color: #B2E0C4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #B2E0C4;
    border-radius: 5px;
    border-left: 1px solid #B2E0C4;
    border-right: 1px solid #B2E0C4;
   
  }
  
  .title {
    display: flex;
    justify-content: center;
    margin: 0; /* Asegúrate de tener márgenes consistentes */
    color: black;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  .subtitle {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: start;
    padding: 0 20px;
    font-size: 1.2rem;
    margin: 0; /* Asegúrate de tener márgenes consistentes */
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  .logo-heart {
    width: 100px;
    margin-bottom: 1rem;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  </style>
  