---

---

<section class="hero-container">
   
    <h1 class="title-hero">Centro de rehabitación de adicciones</h1>
    <hr class="top-line">
    
    <h2 class="subtitle-hero">Comunidad Volver a Creer</h2>
    <h3 class="subtitle-hero-3">Salvando vidas, uniendo familias <img src="/public/images/red-heart.png" alt=""> </h3>
   <!--   <h3 class="subtitle-hero-2">Da un primer paso <img src="/public/images/red-heart.png" alt=""></h3>-->
    <a  href="/form" type="button" class="button-hero" >Contactanos</a>
</section>


<style>

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;   
    }

    .title-hero {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        
    }

    .subtitle-hero {
        font-family: 'Montserrat', sans-serif;
        font-size: 3.2rem;

    }

    .subtitle-hero-2, {
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        margin-top: 1.5rem;
        display: flex;
       align-items: end;
        font-style: italic;
    }

    .subtitle-hero-3 img {
        margin-left: 1rem;
        width: 40px;
        height: 40px;  
        display: inline-block;
    }
    .subtitle-hero-3 {
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 8.5px;
    }

  .button-hero {
    background-color: #f48fb1dc;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block; 
    font-size: 16px;
    margin: 15px 20px;
    cursor: pointer;
    border-radius: 18px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
   /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);*/
  }

  .button-hero:hover {
    background-color: #f48fb1;
  }


    @font-face {
        font-family: 'Roboto';
        src: url('/fonts/Roboto-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
      }

      .top-line {
        border-top: 2px solid #f48fb18a;
        width: 40%;
        
      }
    
</style>