---

---

<section class="nav-icons">
  <a href="mailto: " class="mail-logo">
     <img src="/images/email-1.png" alt="mail"> <span class="contact-text">contacto@comunidadvolveracreer.cl</span>  </a>
  <a href="https://wa.me/56932496264"><img src="/images/phone.png" alt="phone"><span class="contact-text">+569 3249 6264</span></a>
</section>

<style >

  .nav-icons {
    display: flex;
    justify-content: end;
    margin-right: 3rem;
    margin-top: 2rem;
    gap: 20px;    
  }

  .mail-logo {
    margin-right: 30px;
  }

  .nav-icons a {
   display: flex;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
    text-decoration: none;
    color: #34373C;
  }

  .nav-icons img {
    width: 20px;
    margin-right: 8px;
  }


  /*media query para celulares*/

  @media screen and (max-width: 768px) {
    .contact-text {
      display: none;
    }

  /*iconos*/
    .nav-icons {
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 0;
      margin-left: 10px;
    }

    .nav-icons a {
      margin: 0; /* Asegura que no haya márgenes adicionales entre los enlaces */
      padding: 0; /* Elimina cualquier padding en los enlaces */
    }
   .nav-icons img {
    width: 35px;
    margin-left: 50px;
    margin-left: 20px;
   }

   
  }


</style>