---

---

<section class="navbar-container">
   <ul class="navbar-list">
    <li><a href="/" class="active">Inicio</a></li>
    <li><a href="#">Nuestra comunidad</a></li>
    <li><a href="#">Tratamiento</a></li>
    <li><a href="/form">Contacto</a></li>
   </ul>
   <div class="more-icon-container">
    <a href="#" class="more-icon">
      <img src="/images/more.png" alt="">
    </a>
  </div>
</section>


<style>
.navbar-container {
    margin-top: 2rem;
}

.navbar-container .navbar-list {
  display: flex;
  gap: 20px;
  justify-content: end;
  margin-right: 3rem;
}

.navbar-container .navbar-list li {
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.navbar-list li a {
  text-decoration: none;
  color: #000;
  position: relative;

}

.navbar-list li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Ajusta la posición del subrayado */
  width: 0;
  height: 2px;
  background-color: #FFB74D; /* Color del subrayado */
  transition: width 0.3s ease-in-out;
}

.navbar-list li a:hover::after,
.navbar-list li a.active::after {
  width: 100%; /* Muestra el subrayado completo al hacer hover o si está activo */
}

.navbar-list li a {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.more-icon-container{
  display: none;
}

    @font-face {
    font-family: 'Montserrat';
    src: url('/public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  /*movile*/

  @media (max-width: 768px) {

  .navbar-container .more-icon-container {
    display: flex;
    justify-content: flex-end;
   margin-right: 1rem;
  }

.more-icon {
  display: none; /*por ahora oculto...solo durante la prueba*/
 }

 .navbar-list {
  display: none !important;
 }

}

</style>




<!-- revisar porque el icono de hamburuesa se muestra en todas las pages, eso arruina el form -->>