---

---

<section class="nav-icons">
  <a href="mailto: " class="mail-logo">
     <img src="/images/email-1.png" alt="mail">contacto@comunidadvolveracreer.cl</a>
  <a href="tel:+56940902939"><img src="/images/phone.png" alt="phone">+569 3249 6264</a>
</section>

<style>

  
  .nav-icons {
    display: flex;
    justify-content: end;
    margin-right: 3rem;
    margin-top: 2rem;
    gap: 20px;    
  }

  .mail-logo {
    margin-right: 30px;
  }

  .nav-icons a {
   display: flex;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
  }

  .nav-icons img {
    width: 20px;
    margin-right: 8px;
  }

</style>