---

---

<section class="quienes-somos-container">
  <div class="quienes-somos-text">
    <h2 class="quienes-somos-title">QUIENES SOMOS</h2>
    <p>
      Nuestro Centro de Rehabilitación Volver a Creer Chile Es un apoyo
      fundamental en la prevención, formación y reinserción de nuestros
      pacientes. Les otorgamos los mecanismos y conocimientos idóneos para su
      desarrollo a través de un programa de rehabilitación integral, buscando
      así mejorar la calidad de vida y el bienestar integral de nuestros
      residentes y sus familias.
    </p>
  </div>
  <div class="quienes-somos-image">
    <img src="./images/quienes-somos.jpeg" alt="" />
  </div>
</section>

<style>
  .quienes-somos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: rem;
    padding: 1rem;
    align-items: flex-start;
    /*background-color: #f3e5f5;*/
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .quienes-somos-text,
  .quienes-somos-image {
    width: 48%; /* Asigna el 48% de ancho a cada uno */
  }
  .quienes-somos-text {
      width: 550px;
  }

  .quienes-somos-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: left;
  }

  .quienes-somos-container p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    /*margin: 0 50px;*/
    text-align: left;
  }

  .quienes-somos-image img {
    border-radius: 5px;
  }
</style>
